﻿@model List<Country>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <cache vary-by="@ViewBag.Vary" expires-after="@TimeSpan.FromMinutes(60)">
        <h4>Last updated: @DateTime.Now</h4>
        <h3>Countries:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Capital City</th>
                    <th>Population</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Capital</td>
                        <td>@item.Population</td>
                    </tr>
                }
            </tbody>
        </table>
    </cache>