﻿@model List<Continent>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form asp-controller="Home" asp-action="ShowCountries" name="Continents" id="myForm" data-ajax="true" data-ajax-update="#output">
        @Html.DropDownList("Continent")
        <input type="submit" value="Show Countries" />
    </form>


</div>
<div id="output"></div>
